<footer class="page-footer">
    <span>Power by : Md. Rajon Hossain </span>
    <a href="https://georgemartsoukos.com/" target="_blank">
      <img width="24" height="24" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-bj5g7Nu0ZSU4BWyMnhaNob-OUyKz35M_6g&usqp=CAU" alt="George Martsoukos logo">
    </a>
  </footer>