<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>

<%- include('./header/sitebar.ejs') %>

<section class="page-content">
  <section class="search-and-user">
  <!--   <form>
      <input type="search" placeholder="Search Pages...">
      <button type="submit" aria-label="submit form">
        <svg aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
      </button>
    </form> -->

 


<%- include('./header/header.ejs') %>    
  </section>
  <section class="grid">
    <article>sadfsf</article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
    <article></article>
  </section>
</section>


  <%- include('fooder/footer.ejs') %>
  <script src="js/home.js"></script>
</body>
</html>>
<style>