 <div class="admin-profile">      
	      <a class="greeting" href="/logout" role="button">Logout</a>	      
      <div class="notifications">
        <span class="badge">2</span>
        <svg>
          <use xlink:href="#users"></use>
        </svg>
      </div>
    </div>